<ion-view view-title="Login">    
    <ion-header-bar class="bar-positive">
        <div class="buttons">

            <a class="button icon-left ion-chevron-left button-clear" ng-href="#/home/presentation"> 
                voltar
            </a>
        </div>
        <h1 class="title">Login</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
        <ion-list>
            <label class="item item-input item-floating-label">
                <span class="input-label">Usuário</span>
                <input type="text" placeholder="Nome de usuário"    >
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Senha">
            </label>
        </ion-list>
            <br>
            <button    class="button icon-right button-positive" ng-click="">Entrar</button>                
            
        </div>
    </ion-content>
</ion-view>