<ion-view view-title="Presentation" >    
    <div class="viewPresentation">
        <ion-header-bar class="bar-positive" class="headerBarPresentation">
            <div class="buttonsPresentation">
                <a class="button icon-right badge-positive button-positive" ng-href="#/login">Já é cadastrado?</a>  
                <a class="button icon-right badge-positive button-positive" ng-href="#/cadastro">Cadastre-se</a>               
                <a class="button icon-right badge-positive button-positive" ng-href="#/user">User</a>               
            </div>

            <h1 class="title">Inicio</h1>

            <div class="buttons">
                <a class="button icon-right icon ion-search placeholder-icon" ng-href="#/search"></a>  
            </div>


        </ion-header-bar>

        <ion-content>
            <div class="texto">
                <h1>Apresentação</h1>
                <p>  Caros amigos, a necessidade de renovação processual desafia a capacidade de equalização das diversas correntes de pensamento. O que temos que ter sempre em mente é que a complexidade dos estudos efetuados ainda não demonstrou convincentemente que vai participar na mudança das regras de conduta normativas. No mundo atual, o acompanhamento das preferências de consumo aponta para a melhoria do sistema de participação geral. No entanto, não podemos esquecer que a estrutura atual da organização auxilia a preparação e a composição dos relacionamentos verticais entre as hierarquias. 

                    Do mesmo modo, o novo modelo estrutural aqui preconizado afeta positivamente a correta previsão do processo de comunicação como um todo. Não obstante, a crescente influência da mídia assume importantes posições no estabelecimento das direções preferenciais no sentido do progresso. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o consenso sobre a necessidade de qualificação nos obriga à análise das novas proposições. Podemos já vislumbrar o modo pelo qual o desenvolvimento contínuo de distintas formas de atuação acarreta um processo de reformulação e modernização das condições inegavelmente apropriadas. Acima de tudo, é fundamental ressaltar que a consolidação das estruturas possibilita uma melhor visão global do impacto na agilidade decisória. 

                    O cuidado em identificar pontos críticos no fenômeno da Internet obstaculiza a apreciação da importância dos conhecimentos estratégicos para atingir a excelência. A certificação de metodologias que nos auxiliam a lidar com o desafiador cenário globalizado pode nos levar a considerar a reestruturação das posturas dos órgãos dirigentes com relação às suas atribuições. O empenho em analisar o início da atividade geral de formação de atitudes representa uma abertura para a melhoria do levantamento das variáveis envolvidas. Ainda assim, existem dúvidas a respeito de como a expansão dos mercados mundiais cumpre um papel essencial na formulação dos paradigmas corporativos. 

                </p>
                <div class="logo">
                    <img src="img/logo_ufsm.jpg">
                </div>
            </div>        

        </ion-content>
    </div>
</ion-view>