<ion-view view-title="RegisterAlimentos">    
    <ion-header-bar class="bar-positive" id="barraSuperior">
        <div class="buttons">
            <a class="button icon-left ion-chevron-left button-clear" id="buttonVoltar" ng-click="voltar()" href="#/search"> 
                voltar
            </a>
        </div>
        <h1 class="title">Adicionar Alimento</h1>
        <div class="button" id="buttonRegister">
            <button class="button icon-right badge-positive button-positive" ng-click="add()">Cadastrar</button>  
        </div>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <label class="item item-input item-floating-label">
                <span class="input-label" id="txtNome">Nome do Alimento</span>
                <input type="text"  placeholder="Nome do Alimento" id="nomeAlimento">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Umidade</span>
                <input type="text" placeholder="Umidade" id="umidade">
            </label>


            <label class="item item-input item-floating-label">
                <span class="input-label">Energia</span>
                <input type="text" placeholder="Energia" id="energia">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Proteina</span>
                <input type="text" placeholder="Proteina" id="proteina">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Lipideos</span>
                <input type="text" placeholder="Lipideos" id="lipideos">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Colesterol</span>
                <input type="text" placeholder="Colesterol" id="colesterol">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Carboidrato</span>
                <input type="text" placeholder="Carboidrato" id="carboidrato">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Fibra</span>
                <input type="text" placeholder="Fibra" id="fibra">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Cinzas</span>
                <input type="text" placeholder="Cinzas" id="cinzas">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Calcio</span>
                <input type="text" placeholder="Calcio" id="calcio">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Magnesio</span>
                <input type="text" placeholder="Magnesio" id="magnesio">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Manganes</span>
                <input type="text" placeholder="Manganes" id="manganes">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Fosforo</span>
                <input type="text" placeholder="Fosforo" id="fosforo">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Ferro</span>
                <input type="text" placeholder="Ferro" id="ferro">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Sodio</span>
                <input type="text" placeholder="Sodio" id="sodio">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Potassio</span>
                <input type="text" placeholder="Potassio" id="potassio">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Cobre</span>
                <input type="text" placeholder="Cobre" id="cobre">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Zinco</span>
                <input type="text" placeholder="Zinco" id="zinco">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Retinol</span>
                <input type="text" placeholder="Retinol" id="retinol">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">RE</span>
                <input type="text" placeholder="RE" id="re">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">RAE</span>
                <input type="text" placeholder="RAE" id="rae">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Tiamina</span>
                <input type="text" placeholder="Tiamina" id="tiamina">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Riboflavina</span>
                <input type="text" placeholder="Riboflavina" id="riboflavina">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Piridoxina</span>
                <input type="text" placeholder="Piridoxina" id="piridoxina">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Niacina</span>
                <input type="text" placeholder="Niacina" id="niacina">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Vitamina C</span>
                <input type="text" placeholder="Vitamina C" id="vitaminaC">
            </label>

            <!--  ' zinco, retinol, re, rae, tiamina, riboflavina, piridoxina, niacina, vitaminac)-->
        </ion-list>
    </ion-content>
</ion-view>